/*setting*/

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 2;
    font-family: 'Sawarabi Mincho', sans-serif;
    width: auto;
    height: auto;
    min-width: 375px;
}

h1,h2,h3,h4,h5,p {
    margin-top: 0;
    line-height: 2;
}

img {
    width:100%;
    max-width: 100%;
    height: auto;
}

.ds-sm {
    display: none;
}

@media screen and (max-width: 414px) {

    .ds-sm {
        display: block;
    }
}

/*setting*/

/*common*/

.inner {
    width: 980px;
    margin: 0 auto;
}
.inner:after {
    content: "";
    clear: both;
    display: block;
}

/* header */
#top-head {
    top: -100px;
    position: absolute;
    width: 100%;
    margin: 100px auto 0;
    padding: 30px 0 0;
    z-index: 999;
    background-color: #fff;
    padding: 24px 0;
}
#top-head a,
#top-head {
    color: #fff;
    text-decoration: none;
}
#top-head .inner {
    position: relative;
}
#top-head .logo {
    float: left;
}
#global-nav ul {
    list-style: none;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
}
#global-nav ul li {
    float: left;
}
#global-nav ul li a {
    padding: 0 30px;
    color: #000;
    font-family: Avenir, sans-serif;
}

/* Fixed */
#top-head.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
    padding-top: 10px;
    height: 40px;
    background: #fff;
    background: rgba(255,255,255,.7);
    transition: top 0.65s ease-in;
}
#top-head.fixed .logo {
    font-size: 24px;
    color: #333;
}
#top-head.fixed #global-nav ul li a {
    color: #333;
    padding: 0 20px;
    font-family: Avenir, sans-serif;
    font-size: 16px;
}

/* Toggle Button */
#nav-toggle {
    display: none;
    position: absolute;
    right: 12px;
    top: 14px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}
#nav-toggle div {
    position: relative;
}
#nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #666;
    left: 0;
    transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
    top: 0;
}
#nav-toggle span:nth-child(2) {
    top: 11px;
}
#nav-toggle span:nth-child(3) {
    top: 22px;
}
@media screen and (max-width: 640px) {
    #top-head,
    .inner {
        width: 100%;
        padding: 0;
    }
    #top-head {
        top: 0;
        position: fixed;
        margin-top: 0;
    }
    /* Fixed reset */
    #top-head.fixed {
        padding-top: 0;
        background: transparent;
    }
    #mobile-head {
        background: #fff;
        width: 100%;
        height: 56px;
        z-index: 999;
        position: relative;
    }
    #top-head.fixed .logo,
    #top-head .logo {
        position: absolute;
        left: 13px;
        top: 0;
        color: #333;
        font-size: 26px;
    }
    #global-nav {
        position: absolute;
        top: -500px;
        background: #333;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        transition: .5s ease-in-out;
    }
    #global-nav ul {
        list-style: none;
        position: static;
        right: 0;
        bottom: 0;
        font-size: 14px;
    }
    #global-nav ul li {
        float: none;
        position: static;
    }
    #top-head #global-nav ul li a,
    #top-head.fixed #global-nav ul li a {
        width: 100%;
        display: block;
        color: #fff;
        padding: 18px 0;
        font-size: 16px;
    }
    #nav-toggle {
        display: block;
    }
    .open #nav-toggle span:nth-child(1) {
        top: 11px;
        transform: rotate(315deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 11px;
        transform: rotate(-315deg);
    }
    .open #global-nav {
        transform: translateY(556px);
    }
}

.heading {
    text-align: center;
    margin-bottom: 35px;
}
.heading h2 {
    font-size: 48px;
    font-family: Avenir, sans-serif;
    letter-spacing: 7px;
    color: #999;
}

.detailed-btn {
    text-align: center;
    margin-top: 86px;
}
.detailed-btn a {
    text-decoration: none;
    color: #fff;
    background-color: #364D6A;
    padding: 27px 105px;
    border-radius: 50px;
}
.btn-hover {
    transition:all 0.5s;
}
.btn-hover:hover {
    background-color: #fff;
    color: #364D6A;
    border: 2px solid #364D6A;
}

.contact_wrap {
    text-align: center;
    margin: 160px 0 134px;
}
.contact_wrap .contact_wrap-txt {
    font-size: 20px;
}

.contact_wrap .contact_wrap-btn {
    margin-top: 85px;
}

.contact_wrap .contact_wrap-btn a {
    text-decoration: none;
    color: #fff;
    background-color: #202037;
    font-family: Avenir, sans-serif;
    font-size: 32px;
    padding: 34px 172px;
    border-radius: 120px;
    transition:all 0.3s;
}
.contact_wrap .contact_wrap-btn a:hover {
    opacity: .8;
}

footer {
    background-color: #202037;
    height: 165px;
}

.top-heading {
    text-align: center;
    background-color: #202037;
    padding: 137px 0 80px;
}
.top-heading h1 {
    font-size: 48px;
    color: #fff;
    font-family: Avenir, sans-serif;
    font-weight: normal;
    letter-spacing: 8px;
}
.parallax-window {
    min-height: 652px;
    background: transparent;
}

.parallax-slider {
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    
    .top-heading {
        padding: 125px 0 55px;
    }
    .contact_wrap .contact_wrap-btn a {
        padding: 26px 150px;
    }
}
@media screen and (max-width: 768px) {
    
    #top-head .inner {
        position: relative;
        width: 715px;
    }
    #global-nav ul li a {
        padding: 0 15px;
    }
    .contact_wrap {
        margin: 110px 0 115px;
    }
    .contact_wrap .contact_wrap-btn a {
        padding: 20px 125px;
    }
    
    .contact_wrap .contact_wrap-btn {
        margin-top: 55px;
    }
}
@media screen and (max-width: 414px) {

    #top-head .inner {
        position: relative;
         width: 100%;
    }
    .top-heading {
        padding: 62px 0 15px;
    }
    .parallax-window {
        min-height: 495px;
    }
    .contact_wrap .contact_wrap-btn a {
        font-size: 16px;
        padding: 27px 117px;
    }
}

/*common*/


.top_img {
    background-size: cover;
    height: 780px;
}

.top-title {
    position: relative;
}

.top-title .header_title {
    position: absolute;
    top: 200px;
    left: 10%;
    color: #fff;
}
.top-title .header_title-main {
    font-size: 57px;
    width: 715px;
    letter-spacing: 4px;
    margin-bottom: 53px;
    font-family: 'Hind Siliguri', sans-serif;
    line-height: 1.5;
}
.top-title .header_title-sub {
    font-size: 24px;
}

.info_wrap {
    display: flex;
}
.info_wrap .info_wrap-box {
    padding: 96px 93px 66px;
    width: 40%;
    margin-top: -150px;
    background: linear-gradient(#3D5C7A, #599DC0);
    z-index: 1;
    color: #fff;
    margin-bottom: 125px;
}
.info_wrap .info_wrap-box-title {
    font-size: 24px;
    margin-bottom: 40px;
}
.info_wrap-box-news-wrap-txt a {
    text-decoration: none;
    color: #000;
}
.info_wrap-box-news-wrap-txt a:hover {
    border-bottom: 1px solid #3D5C7A;
}
.info_wrap .info_wrap-box-news {
    width: 60%;
    text-align: center;
}
.info_wrap .info_wrap-box-news-title {
    font-size: 24px;
    font-family: Avenir, sans-serif;
    color: #3D5C7A;
    margin: 57px 0 31px;
}
.info_wrap .info_wrap-box-news-wrap {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
.info_wrap time {
    font-family: Avenir, sans-serif;
}

.service {
    margin-bottom: 186px;
}
.service_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 1098px;
    margin: 0 auto;
}
.service_list .service_list-item {
    width: 30%;
}

.service_list .service_list-item-h {
    text-align: center;
    width: 80%;
    font-size: 24px;
    margin: 0 auto;
    margin-top: -30px;
    z-index: 1;
    margin-bottom: 30px;
}
.service_list .service_list-item-h p {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.service_list .service_list-item-h .service_list-item-h-nam {
    background-color: #2C334B;
    color: #fff;
    padding: 0 20px;
    font-family: Avenir, sans-serif;
}
.service_list .service_list-item-h .service_list-item-h-title {
    width: 100%;
    background-color: #fff;
    border: 2px solid #2C334B;
}
.service_list .service_list-item-txt {
    color: #999;
    width: 90%;
    margin: 0 auto;
}

.blog_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}
.blog_list .blog_list-item {
    width: 30%;
    margin-bottom: 75px;
}
.blog_list .blog_list-item a {
    text-decoration: none;
    color: #000;
}
.blog_list .blog_list-item {
    transition: all 0.3s;
}
.blog_list .blog_list-item:hover {
    opacity: .7;
}

.blog_list time {
    color: #999;
}
.blog_list h3 {
    font-weight: bold;
    font-size: 20px;
}
.blog_list p {
    color: #999;
}

#map {
    width: 100%;
    height: 450px;
    margin: 175px 0 150px;
}

@media screen and (max-width: 1024px) {
    
    .info_wrap .info_wrap-box {
        padding: 96px 60px 66px;
    }
    .info_wrap .info_wrap-box-news-wrap {
        width: 85%;
    }
    .service_list {
        max-width: 950px;
    }
    .service_list .service_list-item {
        width: 32%;
    }
    .service {
        margin-bottom: 160px;
    }
    .blog_list {
        max-width: 950px;
    }
}

@media screen and (max-width: 768px) {
    
    .top-title .header_title {
        left: 4%;
    }
    .top-title .header_title-main {
        font-size: 40px;
        width: 500px;
        margin-bottom: 20px;
    }
    .info_wrap .info_wrap-box {
        padding: 40px 40px 45px;
        width: 50%;
    }
    .info_wrap .info_wrap-box-news-title {
        margin: 20px 0 31px;
    }
    .service_list {
        flex-direction: column;
    }
    .service_list .service_list-item {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .blog_list {
        width: 90%;
    }
}

@media screen and (max-width: 414px) {
    
    .top-title .header_title-main {
        font-size: 25px;
        width: 319px;
        margin-bottom: 20px;
    }
    .top-title .header_title-sub {
        font-size: 16px;
        width: 80%;
    }
    .info_wrap {
        flex-direction: column;
    }
    .info_wrap .info_wrap-box-news {
        width: 100%;
        text-align: left;
        margin-bottom: 150px;
    }
    .info_wrap-box-news-wrap time {
        font-weight: bold;
    }
    .info_wrap-box-news-wrap-txt {
        margin-bottom: 10px;
    }
    .info_wrap .info_wrap-box-news::after {
        content: '';
        display: block;
        background: #202037;
        width: 90%;
        height: 10px;
        margin: 0 auto;
    }
    .info_wrap .info_wrap-box-news-title {
        margin: 30px auto 8px;
        width: 85%;
    }
    .info_wrap .info_wrap-box {
        width: 78.54%;
        order: 2;
        background: none;
        color: #000;
    }
    .info_wrap .info_wrap-box-title {
        font-size: 22px;
        margin-bottom: 65px;
    }
    .info_wrap-box-txt {
        font-size: 12px;
    }
    .heading h2 {
        font-size: 24px;
    }
    .blog_list .blog_list-item {
        width: 48%;
        margin-bottom: 42px;
    }
    .blog_list h3 {
        font-size: 14px;
    }
    .blog_list time,
    .blog_list p {
        font-size: 14px;
    }
}